body {
    background-color: #4c5228;
    color: aliceblue;
    justify-content: center;
    align-items: center;
}
.navbar {
    z-index: 1;
    background-color: #4e442800;
}
.content {
    margin-left: 15px;
    margin-right: 15px;
    justify-content: center;
    align-items: center;
}
.container {
    padding: 15px;
    background-color: #91919100;
}
table {
    border-collapse: collapse;
    width: 100%;
}
.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-form {
    color: black;
    width: 100%;
    max-width: 400px;
    padding: 15px;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #919191;
}
.row{
    padding: 10px;
}
.btn-s {
    width: 20%;
    height: 40px;
    font-size: 18px;
}
.btn-m {
    width: 50%;
    height: 40px;
    font-size: 18px;
}
.btn-l {
    width: 100%;
    height: 40px;
    font-size: 18px;
}
.empty-span-s{
    height: 5px;
}
.empty-span-m{
    height: 10px;
}
.empty-span-l{
    height: 15px;
}
.modal {
    color: black;
}
.out_flow{
    color: red;
    font-weight: bold;
}
.in_flow{
    color: green;
    font-weight: bold;
}
.checkbox-medium{
    width: 20px;
    height: 20px;
    transform: scale(1.2); /* Adjust the scale as needed */
    margin-right: 10px;
}